.purple {
    color: #7211F8;
}

.green {
    color: #BEF811;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 16px;
}

.headerTitle {
    font-family: var(--font-ui);
    font-size: 30px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -1px;
}

.headerSubtitle {
    margin-top: 9px;
    font-family: var(--font-ui);
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -1px;
}

.monthsSelector {
    padding: 4px 13px;
    margin-top: 26px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 1px solid transparent;
    background: linear-gradient(#141414, #1616167D) padding-box, linear-gradient(90deg, var(--border-from), var(--border-to)) border-box;
    border-radius: 15px;
    box-sizing: border-box;
}

.monthBlock {
    cursor: pointer;
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: var(--font-primary);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.03em;
}

.monthSelected {
    padding: 3px 8px;
    background-color: transparent;
    border-radius: 11px;
}

.monthSelected:before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--month-from), var(--month-to));

    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;

    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.monthDiscount {
    height: 16px;
    padding: 0 3px;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color);
    background-color: var(--background-color);
    border-radius: 5px;
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.03em;
}

.featuresContainer {
    position: relative;
}

.featuresTitle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 40px;
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.priceBlock {
    padding: 26px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 32px;
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -1px;
}

.featuresBlock {
    position: relative;
    padding: 16px 74px 14px 19px;
    background-color: var(--background-color);
    border-top: 1px dashed transparent;
    border-radius: 32px;
    z-index: 1;
    overflow: hidden;
}

.featuresSeparator {
    height: 1px;
    width: calc(100% - 80px);
    margin: -1px auto 0;
    background-image: repeating-linear-gradient(
            to right,
            #070707 0px,
            #070707 17px,
            transparent 17px,
            transparent 32px
    );
    border-radius: 2px;
}

.featuresBackground {
    position: absolute;
    width: auto;
    top: 11px;
    right: 0;
    height: calc(100% - 11px);
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}

.featuresBackground > img {
    object-fit: cover;
    display: block;
}

.features {
    gap: 1px;
    display: flex;
    flex-direction: column;
}

.feature {
    height: 36px;
    gap: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px 9px 11px;
    background-color: #2E2E2E99;
    border-radius: 19px;
    color: #FFFFFF75;
    font-family: var(--font-ui);
    font-size: 9px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -0.02em;
    /*backdrop-filter: blur(4px);*/
    /*-webkit-backdrop-filter: blur(4px);*/
    z-index: 1;
}

.featureDescription {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.featureTitle {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.aboutButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #7211F8;
    font-family: var(--font-ui);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.subscriptionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-family: var(--font-ui);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.benefitsTitle {
    margin-top: 40px;
    margin-bottom: 17px;
    padding-right: 30px;
    font-family: var(--font-ui);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.benefitBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.benefitContainer {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.03em;
    background-color: #202020;
    border-radius: 24px;
}

.benefitHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    padding: 23px 20px;
    background-color: #141414;
    border-radius: 24px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.03em;
}

.benefitList {
    padding: 10px 29px 10px 19px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.benefit {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.benefitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: var(--font-ui);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.postscriptum {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    padding: 11px 20px 16px 30px;
    background-color: #7211F81A;
    border-left: 2px solid #7211F8;
    border-radius: 7px;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.04em;
}