.red {
    color: red;
}

.closeButon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.container {
    gap: 8px;
    padding: 19px 28px 28px 28px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 0 32px;
    align-items: center;
    border: 1px solid #F81B11;
    background-color: #F81B1133;
    border-radius: 30px;
    font-family: var(--font-ui);
    font-size: 22px;
    font-weight: 590;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
}

.description {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.04em;
}