.red {
    color: red;
}

.container {
    gap: 10px;
    position: relative;
    padding: 38px 13px 16px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 32px;
    align-items: center;
    border: 1px solid #F81B11;
    background-color: #F81B1133;
    border-radius: 30px;
    letter-spacing: 0;
    text-align: center;
}

.closeButon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.text {
    gap: 8px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 18px;
}

.header {
    font-family: var(--font-secondary);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.03em;
}

.description {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.04em;
}

.advice {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
}

.subscriptionExpiredButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: var(--font-ui);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
}