.purple {
    color: #7211F8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 16px;
}

.leadsTitle {
    padding: 29px 55px 14px 55px;
    color: #767676;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 7px;
}

.moveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #7211F8;
    font-family: var(--font-ui);
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
}