.purple {
    color: #7211F8;
}

.container {
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.title {
    font-family: var(--font-ui);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    height: 79px;
}

.briefingButton {
    flex: 1;
    gap: 13px;
    padding: 27px 15px 27px 19px;
    background-color: #141414;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.briefing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.briefingTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.03em;
}

.briefingDescription {
    flex-shrink: 0;
    color: #FFFFFF80;
    font-family: var(--font-primary);
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: -0.03em;
    text-align: end;
}