html, body {
    color: #FFFFFF;
    height: var(--tg-vh);
    background-color: #070707;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace, Courier, monospace;
    font-weight: 400;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

textarea, input {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
}

*:focus {
    outline: none;
}

/* Typography */
:root {
    --font-primary: 'Anonymous Pro', monospace;
    --font-secondary: 'Organetto', sans-serif;
    --font-ui: 'SF UI Display', sans-serif;
}

.font-primary {
    font-family: 'Anonymous Pro', monospace;
}

.font-secondary {
    font-family: 'Organetto', sans-serif;
}

.font-ui {
    font-family: 'SF UI Display', sans-serif;
}

/* Anonymous Pro */
@font-face {
    font-family: 'Anonymous Pro';
    src: url('./assets/fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('./assets/fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Organetto */
@font-face {
    font-family: 'Organetto';
    src: url('./assets/fonts/organetto-bold-exp 2.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* SF UI Display */
@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-ultralight-58646b19bf205.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-thin-58646e9b26e8b.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-light-58646b33e0551.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/SF UI Display Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-medium-58646be638f96.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-semibold-58646eddcae92.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-bold-58646a511e3d9.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-heavy-586470160b9e5.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('./assets/fonts/sf-ui-display-black-58646a6b80d5a.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
