.purple {
    color: #7211F8;
}

.overlay {
    padding: 16px 32px;
    overflow-y: hidden;
}

.container {
    padding: 9px 10px 16px 20px;
    border: 1px solid #FFFFFF12;
    background: linear-gradient(to bottom, #202020, #0D0D0D);
    border-radius: 23px;
    height: auto;
    overflow-y: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    font-family: var(--font-ui);
    font-size: 25px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -1px;
}

.headerDescription {
    margin-top: 20px;
    margin-right: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -1px;
}

.useHintButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #7211F8;
    font-family: var(--font-ui);
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
}