.container {
    padding: 16px 16px 0 16px;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #070707, #7211F8);
}

.backgroundLogo {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 42dvh;
    left: 0;
    width: 100%;
    transform: none;
    z-index: 0;
}

.backgroundLogo img {
    object-fit: fill;
    width: 100%;
    height: 370px;
    display: block;
}

.content {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textContainer {
    padding: 0 29px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

.title {
    padding: 0 6px;
    font-family: var(--font-secondary);
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -1px;
}

.subtitle {
    font-family: var(--font-ui);
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0;
}

.description {
    margin: 22px 15px 0 15px;
    padding: 8px 13px 10px 14px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 11px;
    border-left: 2px solid #7211F8;
    background-color: #7211F81A;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: -0.03em;
}

.footer {
    position: relative;
    gap: 30px;
    margin-top: 30px;
    padding: 30px 0;
    width: calc(100% + 32px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0D0D0D, #41088F);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.footerMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 11px 44px 0 44px;
    gap: 12px;
    color: white;
    font-family: var(--font-ui);
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -1px;
}

.footerIcon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerText {
    font-family: var(--font-ui);
    font-size: 14px;
    font-weight: 500;
    line-height: 15;
    letter-spacing: -1px;
}

.footerButtons {
    gap: 6px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
}

/* FIXME probably buttons can be fixed some better way */
.footerButtons > div,
.footerButtons button {
    height: 52px !important;
    min-height: 52px !important;
    max-height: 52px !important;
    overflow: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.button {
    height: 52px;
    border-radius: 12px;
    font-family: var(--font-ui);
    font-size: 17px;
    font-weight: 500;
    line-height: 22;
    letter-spacing: 0;
}