.container {
    height: var(--header-height);
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: flex-start;
    z-index: 9;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.backButton {
    cursor: pointer;
    color: #7211F8;
    padding: 7px 11px 7px 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    background-color: #7211F833;
    border-radius: 15px;
    font-family: var(--font-ui);
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
}