.purple {
    color: #7211F8;
}

.container {
    padding: 8px 6px 8px 8px;
    display: flex;
    gap: 11px;
    background-color: #141414;
    border-radius: 20px;
    align-items: center;
    justify-content: start;
}

.selected {
    border: 1px solid #7211F8;
}

.title {
    color: #FFFFFF80;
    font-family: var(--font-ui);
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.05em;
}